/* Enter your custom styles here */
/*======================= Start custom fonts and custom color on header style ==========================*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
.clCustomFont {
    font-family: 'Raleway', sans-serif;
}

.sapContrastPlus.clCustomHeaderBg,
.clCustomHeaderBg.sapMIBar {
    background-color: #fff!important;
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMBtnInner {
    color: #2f3c48;
    text-shadow: none;
}

.sapContrastPlus.clCustomHeaderBg .sapMText {
    color: #2f3c48;
}

.sapContrastPlus.sapMIBar-CTX.clCustomHeaderBg .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: transparent;
    color: #346187;
}


/*======================= End custom fonts and custom color on header style ==========================*/


/* Customized CSS by Aarti Dhamat */
.stylePageSection {
	background: #fff !important;
}

/*Form Css*/
.stylePosition {
    background: #F1F1F1;
	position: relative;
}

.styleBtnPositioned {
	position: absolute;
	right: 1rem;
	bottom:1rem;
	width: auto !important;
}
.styleForms {
    background: transparent;
    width: 90%;
}

.styleForms .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0rem;
    line-height: 0rem;
}

/*.styleHLayout .sapUiHLayoutChildWrapper:nth-child(1),*/
/*.styleHLayout .sapUiHLayoutChildWrapper:nth-child(2),*/
/*.styleHLayout .sapUiHLayoutChildWrapper:nth-child(3) {*/
/*    width: 40%;*/
/*}*/

/*.styleHLayout .sapMHBox .sapMFlexItem:nth-child(2) {*/
/*    width: 100%;*/
/*}*/

.styleRightAlign {
    float: right;
    clear: right;
}
.styleFontSize {

    font-size: 18px;	
}

.styleFontSizeSmall {}

.styleShortWidth {
    width: 40% !important;
}

.formDetails .sapUiFormTitleH5 {
    font-size: 1rem;
    text-align: center;
    border: 1px solid #000 !important;
    background: #bbb;
    font-weight: bold !important;
}

.styleMultiHeaderTable {
    width: 98% !important;
    margin: 0 auto;
}

/*For Grid Tables*/

.ETAMaster .sapUiTableColHdrTr td:nth-child(2){
	background:#91C8FF;
}
.ETAMaster .sapUiTableColHdrTr td:nth-child(8){
	background:#ffff0085 ;	
}
.ETAMaster .sapUiTableColHdrTr td:nth-child(16){
	background:mediumseagreen ;	
}
.ETAMaster .sapUiTableCtrl tr:nth-child(odd) {
    background: #fff;
}
.ETAMaster .sapUiTableCtrl tr:nth-child(even) {
    background: #8080807d;
}

.guideLines{ width:100% !important;}
.guideLines .sapUiRespGridBreak.sapUiRespGridSpanL6.sapUiRespGridSpanM6.sapUiRespGridSpanS12.sapUiRespGridSpanXL6 {
    width: 100%;
}
.guideLines .sapUiRGLContainerCont {
    padding: 1rem;
}
.newLine{
	display:block;
	width: 100% !important;;
}

/*#blankBG, #blankBG>div, .blankBG {*/
/*	background: #fff !important;*/
/*	border: none !important;*/
/*}*/

.TabFontStyle {
	color:blue;
	text-decoration: underline;
	cursor:pointer;
	width:100%;
}

/* CSS for filter notification */

.filterNotification {
    background: #3d4954;
    display: block;
    margin: 0 0.2rem 0 2rem  !important;
    overflow: hidden;
}

.filterNotification .sapUiVltCell:nth-child(1) {
    width: 95%;
    padding: 0.5rem;
}

.filterNotification .sapUiVltCell:nth-child(2) {
    width: 2rem;
    height: 2rem;
}

.filterNotification .sapUiVltCell:nth-child(2) .sapMBtn {
    height: 2rem;
    padding: 0;
}

.filterNotification .sapUiVltCell:nth-child(2) .sapMBtn>span {
    background: transparent;
    border: transparent;
    color: #fff;
    font-weight: 700;
    font-size: large;
}

.filterNotification .sapUiVltCell {
    float: left;
    overflow: hidden;
    /*padding: 0.5rem;*/
    margin-left: 0;
}
/*Remove all styling from input*/
.noStyleInput .sapMInputBaseReadonlyInner .sapMInputBaseInner {
	border: none;
    background: #fff;
    padding: 0;
}

.filterNotification .sapMText {
	color:#fff;
}
.headerFixClass .sapMListTbl th {
    position: sticky;
    z-index: 9;
    top: 0;
}